{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Mountains">
            <div class="post__content">
                <h3>Mountains</h3>
                <p>There's nothing like Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quidem, earum sed perferendis doloremque deserunt delectus cum minus asperiores nostrum est laborum accusantium nihil eaque rerum expedita totam aperiam!</p>
            </div>
        </a>
    </article>
</li>