{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block title %}
    My Blog
{% endblock title %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/holmes.jpg' %}" alt="Holmes - The Author Of This Blog">
            <h2>Holmes' Blog</h2>
        </header>
        <p>Hello, I am Holmes and I like to think</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I like Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, minus cum amet necessitatibus sequi ab voluptates sit, nemo totam et molestiae. Nihil suscipit necessitatibus sunt quibusdam obcaecati nisi quisquam distinctio!</p>
        <p>My goal is to keep Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cupiditate error reiciendis necessitatibus, laboriosam architecto reprehenderit, porro nulla dolor iure odit quia excepturi enim perferendis aliquam quis nam similique quod.</p>
    </section>
{% endblock content %}